.burger-icon {
	--transition-duration: 0.2s;
	--transition-duration-second-line: 0.1s;

	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;
}

.burger-icon__line {
	position: absolute;
	border: 3px solid black;
	background: black;
	height: 0px;
	width: 20px;
	border-radius: 5px;

	transition: all var(--transition-duration) ease-out;
}

.burger-icon__line--1-2,
.burger-icon__line--2-2,
.burger-icon__line--3-2 {
	right: 0;
}

.burger-icon__line--1-1,
.burger-icon__line--2-1,
.burger-icon__line--3-1 {
	left: 0;
}

.burger-icon__line--1-1,
.burger-icon__line--1-2 {
	top: 0px;
}

.burger-icon__line--2-1,
.burger-icon__line--2-2 {
	top: 16px;
}

.burger-icon__line--3-1,
.burger-icon__line--3-2 {
	top: 32px;
}

.burger-icon--opened .burger-icon__line--1-1,
.burger-icon--opened .burger-icon__line--1-2 {
	top: 8px;
}

.burger-icon--opened .burger-icon__line--3-1,
.burger-icon--opened .burger-icon__line--3-2 {
	top: 22px;
}

.burger-icon--opened .burger-icon__line--1-1 {
	transform: rotate(-135deg);
}

.burger-icon--opened .burger-icon__line--1-2 {
	transform: rotate(135deg);
}

.burger-icon--opened .burger-icon__line--2-1 {
	transform: translateX(-100%);
	opacity: 0;
}

.burger-icon--opened .burger-icon__line--2-2 {
	transform: translateX(100%);
	opacity: 0;
}

.burger-icon--opened .burger-icon__line--3-1 {
	transform: rotate(135deg);
}

.burger-icon--opened .burger-icon__line--3-2 {
	transform: rotate(-135deg);
}
