.burger-icon {
	--transition-duration: 0.2s;
	--transition-duration-second-line: 0.1s;

	width: 40px;
	height: 40px;
	position: relative;
	cursor: pointer;
}

.burger-icon__line {
	position: absolute;
	border: 3px solid black;
	background: black;
	height: 0px;
	width: 40px;
	border-radius: 5px;

	transition: all var(--transition-duration) ease-out;
}

.burger-icon__line--1 {
	top: 0px;
}

.burger-icon__line--2 {
	top: 16px;
	transition: all var(--transition-duration-second-line) ease-out;
}

.burger-icon__line--3 {
	top: 32px;
}

.burger-icon--opened .burger-icon__line--1 {
	top: 16px;
	transform: rotate(135deg);
}

.burger-icon--opened .burger-icon__line--2 {
	border-width: 0px;
	opacity: 0;
}

.burger-icon--opened .burger-icon__line--3 {
	top: 16px;
	transform: rotate(-135deg);
}
